@import '../../../index.scss';

.NavbarSectionContainer{
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .titleSection{
        // height: 100%;
        font-size: 22px;
        font-weight: 600;
    }
    
}
.line{
    height: 1.5px;
    width: 100%;
    background-color: black;
}