@import '../../index.scss';

.productionSectionContainer{
    margin-top: 57px;
    display: flex;
    flex-direction: row;
    padding: 10px 20px;

    &1{
        width: 50vw;
        height: 100%;
        &1{
            width: 100%;
            height: 100%;
        }
    }

    &2{
        padding: 25px 5%;
        width: 50vw;
        &1{
            font-size: 32px;
            font-weight: 700;
            background-color: yellow;
            padding: 10px 25px;
            border-radius: 15px;
        }

        &2{
            padding: 10px 25px;
        }

        &3{
            padding: 10px 25px;
            font-size: 36px;
            font-weight: 600;
        }

        &4{
            padding: 10px 25px;
            width: 100%;

            display: flex;
            justify-content: space-between;

            &1,&2{
                font-size: 26px;
                background-color: red;
                padding: 15px 30px;

                border-radius: 10px;
            }
        }
    }
}